@{
    ViewBag.Title = "Book Store";
}

<div class="jumbotron">
    <h1>Book Store</h1>
    <p class="lead">An online store dedicated to books</p>
    
</div>

<div class="row">
    <div class="col-md-4">
    
    </div>

    <div class="col-md-4">
        <h2>Find Products</h2>
        <p>From learning alphabets to reading poems</p>
        <p><a class="btn btn-default" href="http://localhost:53507/Product/Index">Browse Products &raquo;</a></p>
    </div>
</div>

<div class="col-md-4">

</div>
